footer {
    background-color: var(--bg-dark2);
    color: var(--bg);
}

footer .logo {
    width: 105px;
    height: 68px;
    margin: 32px 0;
}

footer .brands img {
    width: 32px;
    height: 32px;
}

footer img.app {
    width: 186px;
    height: 55px;
}


footer p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 8px;
}

footer .row > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer > div:last-child {
    min-height: 64px;
    border-top: 1px solid var(--bg);
    display:flex;
    justify-content: center;
    align-items: center;
}
