@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --secondary: #198754;
    --primary: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}
